adagio==0.2.4
aiohttp==3.8.4
aiosignal==1.3.1
alembic==1.10.4
altair==4.2.2
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
async-generator==1.10
async-timeout==4.0.2
autoviz==0.1.601
beautifulsoup4==4.12.2
bleach==6.0.0
bokeh==2.4.3
boto3==1.26.123
botocore==1.29.123
catboost==1.1.1
cffi==1.15.1
cmaes==0.9.1
codecov==2.1.13
colorcet==3.0.1
colorlog==6.7.0
coverage==7.2.4
cryptography==40.0.2
cutadapt==4.1
daal==2023.1.1
daal4py==2023.1.1
dash-auth==2.0.0
dash-bootstrap-components==1.4.1
dash-cytoscape==0.3.0
dask==2023.4.1
databricks-cli==0.17.6
deepchecks==0.13.1
defusedxml==0.7.1
dill==0.3.6
distributed==2023.4.1
dnaio==0.9.0
docker==6.0.1
dtreeviz==2.2.1
emoji==2.2.0
entrypoints==0.4
evidently==0.3.1
explainerdashboard==0.4.2.1
fairlearn==0.7.0
fastapi==0.95.1
filelock==3.12.0
flask-simplelogin==0.1.1
Flask-WTF==0.15.1
frozenlist==1.3.3
fs==2.4.16
fsspec==2023.4.0
fugue==0.8.3
fugue-sql-antlr==0.1.6
future==0.18.3
gevent==22.10.2
gitdb==4.0.10
GitPython==3.1.31
gradio==3.28.1
gradio_client==0.1.4
graphviz==0.20.1
greenlet==2.0.2
grpcio==1.51.3
h11==0.14.0
holoviews==1.15.4
httpcore==0.17.0
httpx==0.24.0
huggingface-hub==0.14.1
hvplot==0.8.3
hyperopt==0.2.7
ImageHash==4.3.1
imageio==2.28.0
importlib-metadata==5.2.0
interpret==0.3.2
isal==0.11.1
jmespath==1.0.1
jsonpickle==3.0.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-server==1.24.0
jupyterlab-pygments==0.2.2
kmodes==0.12.2
lazy_loader==0.2
lime==0.2.0.1
linkify-it-py==2.0.0
locket==1.0.0
lxml==4.9.2
m2cgen==0.10.0
Mako==1.2.4
Markdown==3.4.3
markdown-it-py==2.2.0
matplotlib==3.6.3
mdit-py-plugins==0.3.3
mdurl==0.1.2
mlflow==1.30.1
mlxtend==0.22.0
moto==4.1.8
multidict==6.0.4
multimethod==1.9.1
multiprocess==0.70.14
nbclassic==0.5.6
nbclient==0.7.4
nbconvert==7.3.1
networkx==3.1
nltk==3.8.1
notebook==6.5.4
notebook_shim==0.2.3
oauthlib==3.2.2
optuna==3.1.1
ortools==9.5.2237
outcome==1.2.0
oyaml==1.0
pandas-profiling==3.6.6
pandocfilters==1.5.0
panel==0.14.4
param==1.13.0
partd==1.4.0
percy==2.0.2
phik==0.12.3
prometheus-client==0.16.0
prometheus-flask-exporter==0.22.4
pyamg==5.0.0
pyaml==21.10.1
pyarrow==11.0.0
pycparser==2.21
pyct==0.5.0
pydantic==1.10.7
PyJWT==2.6.0
pynndescent==0.5.10
PyNomaly==0.3.3
pyOpenSSL==23.1.1
PySocks==1.7.1
python-multipart==0.0.6
python-utils==3.5.2
pyviz-comms==2.2.1
PyWavelets==1.4.1
PyYAML==6.0
qpd==0.4.1
qtconsole==5.4.2
QtPy==2.3.1
ray==2.4.0
responses==0.23.1
s3transfer==0.6.0
SALib==1.4.7
scikit-image==0.20.0
scikit-learn-intelex==2023.1.1
scikit-optimize==0.9.0
selenium==4.2.0
shap==0.41.0
skope-rules==1.0.1
SQLAlchemy==1.4.47
starlette==0.26.1
statsforecast==1.5.0
tensorboardX==2.6
terminado==0.17.1
textblob==0.17.1
triad==0.8.6
trio==0.22.0
trio-websocket==0.10.2
tune-sklearn==0.4.5
umap-learn==0.5.3
uvicorn==0.22.0
virtualenv==20.21.0
visions==0.7.5
wordcloud==1.9.1.1
wsproto==1.2.0
xgboost==1.7.5
xopen==1.5.0
yarl==1.9.2
ydata-profiling==4.1.2
