adagio==0.2.4
aiohttp==3.8.4
aiosignal==1.3.1
alembic==1.10.4
altair==4.2.2
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.2.1
async-generator==1.10
async-timeout==4.0.2
attrs==23.1.0
autoviz==0.1.601
backcall==0.2.0
backports.functools-lru-cache==1.6.4
beautifulsoup4==4.12.2
bleach==6.0.0
blinker==1.6.2
bokeh==2.4.3
boto3==1.26.123
botocore==1.29.123
cachetools==5.3.0
catboost==1.1.1
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
cmaes==0.9.1
codecov==2.1.13
colorama==0.4.6
colorcet==3.0.1
colorlog==6.7.0
contourpy==1.0.7
coverage==7.2.4
cryptography==40.0.2
cutadapt==4.1
cycler==0.11.0
daal==2023.1.1
daal4py==2023.1.1
dash-auth==2.0.0
dash-bootstrap-components==1.4.1
dash-cytoscape==0.3.0
dask==2023.4.1
databricks-cli==0.17.6
debugpy==1.5.1
decorator==5.1.1
deepchecks==0.13.1
defusedxml==0.7.1
dill==0.3.6
distributed==2023.4.1
dnaio==0.9.0
docker==6.0.1
dtreeviz==2.2.1
emoji==2.2.0
entrypoints==0.4
evidently==0.3.1
executing==1.2.0
explainerdashboard==0.4.2.1
fairlearn==0.7.0
fastapi==0.95.1
fastjsonschema==2.17.1
filelock==3.12.0
flask-simplelogin==0.1.1
Flask-WTF==0.15.1
fonttools==4.39.4
frozenlist==1.3.3
fs==2.4.16
fsspec==2023.4.0
fugue==0.8.3
fugue-sql-antlr==0.1.6
future==0.18.3
gevent==22.10.2
gitdb==4.0.10
GitPython==3.1.31
google-api-core==2.11.0
google-api-python-client==2.87.0
google-auth==2.18.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
googleapis-common-protos==1.59.0
gradio==3.28.1
gradio_client==0.1.4
graphviz==0.20.1
greenlet==2.0.2
grpcio==1.51.3
h11==0.14.0
holoviews==1.15.4
httpcore==0.17.0
httplib2==0.22.0
httpx==0.24.0
huggingface-hub==0.14.1
hvplot==0.8.3
hyperopt==0.2.7
idna==3.4
ImageHash==4.3.1
imageio==2.28.0
importlib-metadata==5.2.0
interpret==0.3.2
ipykernel==6.15.0
ipython==8.13.2
isal==0.11.1
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
jsonpickle==3.0.1
jsonschema==4.17.3
jupyter==1.0.0
jupyter_client==8.2.0
jupyter-console==6.6.3
jupyter_core==5.3.0
jupyter-server==1.24.0
jupyterlab-pygments==0.2.2
kiwisolver==1.4.4
kmodes==0.12.2
lazy_loader==0.2
lime==0.2.0.1
linkify-it-py==2.0.0
locket==1.0.0
lxml==4.9.2
m2cgen==0.10.0
Mako==1.2.4
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.6.3
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.3
mdurl==0.1.2
mlflow==1.30.1
mlxtend==0.22.0
moto==4.1.8
multidict==6.0.4
multimethod==1.9.1
multiprocess==0.70.14
nbclassic==0.5.6
nbclient==0.7.4
nbconvert==7.3.1
nbformat==5.8.0
nest-asyncio==1.5.6
networkx==3.1
nltk==3.8.1
notebook==6.5.4
notebook_shim==0.2.3
numpy==1.24.3
oauth2client==4.1.3
oauthlib==3.2.2
optuna==3.1.1
ortools==9.5.2237
outcome==1.2.0
oyaml==1.0
packaging==23.1
pandas==2.0.1
pandas-profiling==3.6.6
pandocfilters==1.5.0
panel==0.14.4
param==1.13.0
parso==0.8.3
partd==1.4.0
percy==2.0.2
phik==0.12.3
pickleshare==0.7.5
Pillow==9.5.0
pip==23.0.1
platformdirs==3.5.1
plotly==5.14.1
prometheus-client==0.16.0
prometheus-flask-exporter==0.22.4
prompt-toolkit==3.0.38
protobuf==3.20.3
psutil==5.9.0
pure-eval==0.2.2
pyamg==5.0.0
pyaml==21.10.1
pyarrow==11.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pyct==0.5.0
pydantic==1.10.7
pydeck==0.8.1b0
Pygments==2.15.1
PyJWT==2.6.0
Pympler==1.0.1
pynndescent==0.5.10
PyNomaly==0.3.3
pyOpenSSL==23.1.1
pyparsing==3.0.9
pyrsistent==0.19.3
PySocks==1.7.1
python-dateutil==2.8.2
python-multipart==0.0.6
python-utils==3.5.2
pytz==2023.3
pyviz-comms==2.2.1
PyWavelets==1.4.1
pywin32==305.1
pywinpty==2.0.10
PyYAML==6.0
pyzmq==25.0.2
qpd==0.4.1
qtconsole==5.4.2
QtPy==2.3.1
ray==2.4.0
requests==2.31.0
requests-oauthlib==1.3.1
responses==0.23.1
rich==13.3.5
rsa==4.9
s3transfer==0.6.0
SALib==1.4.7
scikit-image==0.20.0
scikit-learn-intelex==2023.1.1
scikit-optimize==0.9.0
selenium==4.2.0
setuptools==66.0.0
shap==0.41.0
six==1.16.0
skope-rules==1.0.1
smmap==5.0.0
SQLAlchemy==1.4.47
stack-data==0.6.2
starlette==0.26.1
statsforecast==1.5.0
streamlit==1.22.0
tenacity==8.2.2
tensorboardX==2.6
terminado==0.17.1
textblob==0.17.1
toml==0.10.2
toolz==0.12.0
tornado==6.3.2
traitlets==5.9.0
triad==0.8.6
trio==0.22.0
trio-websocket==0.10.2
tune-sklearn==0.4.5
typing_extensions==4.6.2
tzdata==2023.3
tzlocal==5.0.1
umap-learn==0.5.3
uritemplate==4.1.1
urllib3==1.26.16
uvicorn==0.22.0
validators==0.20.0
virtualenv==20.21.0
visions==0.7.5
watchdog==3.0.0
wcwidth==0.2.6
wheel==0.38.4
wordcloud==1.9.1.1
wsproto==1.2.0
xgboost==1.7.5
xopen==1.5.0
yarl==1.9.2
ydata-profiling==4.1.2
zipp==3.15.0
